[submodule "mintty-colors-solarized"]
	path = mintty-colors-solarized
	url = git@github.com:amoshche/mintty-colors-solarized.git
        branch = font-xterm
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git@github.com:amoshche/dircolors-solarized.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "fatty"]
	path = fatty
	url = git@github.com:amoshche/fatty.git
        branch = font-adjustment
